.sidebar-heading {
    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
}

@media only screen and (max-width: 768px){
.sidebar-heading {
    font-size: 17px !important;
    text-align: left !important;
    margin-top: 15px;
}}

.sidebar-links {
    font-size: 15px;
    text-align: right;
    margin: 15px 0 20px;
    font-weight: 500;
}
@media only screen and (max-width: 768px){
.sidebar-links {
    font-size: 13px !important;
    text-align: left !important;
    margin: 5px 0px 10px !important;
}}